<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Datamaps</title>
      {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static 'bootstrap/dist/css/bootstrap.css' %}'></link>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src='{% static 'bootstrap/dist/js/bootstrap.js' %}'></script>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: calc(100% - 50px);
        z-index: -1;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 10px;
        z-index: 5;
      }
    </style>
  </head>



  <body>
    {% include "home/nav_filter.html" %}
	<script type="text/javascript" src="{% static 'home/js/proj4.js' %}"></script>

    <div id="map"></div>
    <script>
      var map, CCTVheatmap, Infringementheatmap, heatmap, lightsheatmap, lightsGeoData;



      var styles = [{
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": 36
            },
            {
                "color": "#000000"
            },
            {
                "lightness": 60
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#000000"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 18
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#28787e"
            },
            {
                "lightness": 17
            }
        ]
    }
      ];

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: -37.5622, lng: 143.8503},
          mapTypeId: 'roadmap'
        });

        map.setOptions({styles: styles});

        CCTVheatmap = new google.maps.visualization.HeatmapLayer({
          data: getCCTVPoints(),
          map: map
        });

        Infringementheatmap = new google.maps.visualization.HeatmapLayer({
          data: getInfringementPoints(),
          map: map
        });
/*
    	lightsheatmap = new google.maps.visualization.HeatmapLayer({
    		data: getLightPoints(),
    		map: map
        });
  */      ParkingMapDisabled = new google.maps.Data();
        ParkingMapDisabled.loadGeoJson(
            '/api/parking/?class=Disabled'
        );
        ParkingMapDisabled.setStyle ({
            fillColor: 'blue'
        });

        ParkingMap = new google.maps.Data();
        ParkingMap.loadGeoJson(
            '/api/parking/?class=Not%20Applicable'
        );
        
        ParkingMapTaxi = new google.maps.Data();
        ParkingMapTaxi.loadGeoJson(
            '/api/parking/?class=Taxi%20Zone'
        );
        ParkingMapDisabled.setStyle ({
            fillColor: 'yellow'
        });





        var CCTVgradient = [
          'rgba(0, 0, 0, 0)',
          'rgba(172, 144, 9, 1)',
          'rgba(74, 153, 8, 1)'
        ];

        var Infringementgradient = [
          'rgba(0, 0, 0, 0)',
          'rgba(172, 9, 9, 1)',
          'rgba(137, 0, 0, 1)'
        ];

        CCTVheatmap.set('gradient', CCTVheatmap.get('gradient') ? null : CCTVgradient);
        Infringementheatmap.set('gradient', Infringementheatmap.get('gradient') ? null : Infringementgradient);
        Infringementheatmap.set('maxIntensity', 1);
        CCTVheatmap.set('maxIntensity', 1);
		    CCTVheatmap.set('radius', 25);
		    Infringementheatmap.set('radius', 10);

      }

      function toggleCCTVHeatmap() {
        CCTVheatmap.setMap(CCTVheatmap.getMap() ? null : map);
      }

      function toggleInfringementHeatmap() {
        Infringementheatmap.setMap(Infringementheatmap.getMap() ? null : map);
      }

  	  function toggleLightHeatmap() {
  		    lightsheatmap.setMap(lightsheatmap.getMap() ? null : map);
  	  }


      function toggleParkingMap() {
        ParkingMap.setMap(ParkingMap.getMap() ? null : map);
      }
      function toggleParkingMapTaxi() {
        ParkingMapTaxi.setMap(ParkingMapTaxi.getMap() ? null : map);
      }
      function toggleParkingMapDisabled() {
        ParkingMapDisabled.setMap(ParkingMapDisabled.getMap() ? null : map);
      }

      // Heatmap data: 500 Points
      function getCCTVPoints() {
        return [
          {% if CCTVTable_list %}
              {% for item in CCTVTable_list %}
                {location: new google.maps.LatLng({{item.Lat}},{{item.Long}}), weight: 10},
              {% endfor %}
          {% endif %}
        ];
      }

      function getInfringementPoints() {
        return [
          {% if Infringement_list %}
              {% for item in Infringement_list %}
                {location: new google.maps.LatLng({{item.Lat}},{{item.Long}}), weight: 1},
              {% endfor %}
          {% endif %}
        ];
      }

	function getLightPoints() {
		points = [];

		var firstProjection = 'PROJCS["GDA94 / MGA zone 54",GEOGCS["GDA94",DATUM["Geocentric_Datum_of_Australia_1994",SPHEROID["GRS 1980",6378137,298.257222101,AUTHORITY["EPSG","7019"]],TOWGS84[0,0,0,0,0,0,0],AUTHORITY["EPSG","6283"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.01745329251994328,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4283"]],UNIT["metre",1,AUTHORITY["EPSG","9001"]],PROJECTION["Transverse_Mercator"],PARAMETER["latitude_of_origin",0],PARAMETER["central_meridian",141],PARAMETER["scale_factor",0.9996],PARAMETER["false_easting",500000],PARAMETER["false_northing",10000000],AUTHORITY["EPSG","28354"],AXIS["Easting",EAST],AXIS["Northing",NORTH]]';

		for (var i = 0; i < lightsGeoData.features.length; i++) {
			var coords = lightsGeoData.features[i].geometry.coordinates;
			var newCoords = proj4(firstProjection, proj4.defs('EPSG:4326'), [coords[0],coords[1]]);
			points.push({location: new google.maps.LatLng(newCoords[1], newCoords[0]), weight: 1});
		}

		return points;
	}
	$.getJSON("http://data.gov.au/geoserver/ballarat-public-lighting/wfs?request=GetFeature&typeName=c99c0bc9_7354_4da5_b730_dee8f729341f&outputFormat=json", function(json) {
		lightsGeoData = json
    	lightsheatmap = new google.maps.visualization.HeatmapLayer({
    		data: getLightPoints(),
    		map: map
        });
        Lightsgradient = [
          'rgba(0, 0, 0, 0)',
          'rgba(172, 144, 9, 1)',
          'rgba(74, 153, 8, 1)'
        ];
        lightsheatmap.set('gradient', lightsheatmap.get('gradient') ? null : Lightsgradient);
        lightsheatmap.set('maxIntensity', 1);
		lightsheatmap.set('radius', 16);
	});

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0wwTmxYLQN59S7uytwjoA7RKWGhn1-pA&libraries=visualization&callback=initMap">
    </script>
  </body>
</html>
