<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heatmaps</title>
      {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static 'bootstrap/dist/css/bootstrap.css' %}'></link>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src='{% static 'bootstrap/dist/js/bootstrap.js' %}'></script>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 10px;
        z-index: 5;
      }
    </style>
  </head>



  <body>
    {% include "home/nav_filter.html" %}

    <div id="map"></div>
    <script>

      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">

      var map, CCTVheatmap, Infringementheatmap, heatmap;

      var styles = [{
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": 36
            },
            {
                "color": "#000000"
            },
            {
                "lightness": 40
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#000000"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 18
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#28787e"
            },
            {
                "lightness": 17
            }
        ]
    }
      ];

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: -37.5622, lng: 143.8503},
          mapTypeId: 'roadmap'
        });

        CCTVheatmap = new google.maps.visualization.HeatmapLayer({
          data: getCCTVPoints(),
          map: map
        });

        Infringementheatmap = new google.maps.visualization.HeatmapLayer({
          data: getInfringementPoints(),
          map: map
        });



        var CCTVgradient = [
          'rgba(0, 0, 0, 0)',
          'rgba(172, 144, 9, 1)',
          'rgba(74, 153, 8, 1)'
        ]
        var Infringementgradient = [
          'rgba(0, 0, 0, 0)',
          'rgba(172, 9, 9, 1)',
          'rgba(137, 0, 0, 1)'
        ]
        CCTVheatmap.set('gradient', CCTVheatmap.get('gradient') ? null : CCTVgradient);
        Infringementheatmap.set('gradient', Infringementheatmap.get('gradient') ? null : Infringementgradient);
        Infringementheatmap.set('maxIntensity', 1);
        CCTVheatmap.set('maxIntensity', 1);
		    CCTVheatmap.set('radius', 20);
		    Infringementheatmap.set('radius', 13);
        map.setOptions({styles: styles});
      }

      function toggleCCTVHeatmap() {
        CCTVheatmap.setMap(CCTVheatmap.getMap() ? null : map);
      }

      function toggleInfringementHeatmap() {
        Infringementheatmap.setMap(Infringementheatmap.getMap() ? null : map);
      }

      // Heatmap data: 500 Points
      function getCCTVPoints() {
        return [
          {% if CCTVTable_list %}
              {% for item in CCTVTable_list %}
                {location: new google.maps.LatLng({{item.Lat}},{{item.Long}}), weight: 10},
              {% endfor %}
          {% endif %}
        ];
      }

      function getInfringementPoints() {
        return [
          {% if Infringement_list %}
              {% for item in Infringement_list %}
                {location: new google.maps.LatLng({{item.Lat}},{{item.Long}}), weight: 1},
              {% endfor %}
          {% endif %}
        ];
      }


    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?libraries=visualization&callback=initMap">
    </script>
  </body>
</html>
