<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bootstrap 101 Template</title>
        <!-- Bootstrap -->
        {% load static %}
        <link rel='stylesheet' type='text/css' href='{% static 'bootstrap/dist/css/bootstrap.css' %}'></link>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src='{% static 'bootstrap/dist/js/bootstrap.js' %}'></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    {% include "home/nav.html" %}
    <body>
            {% include "home/landing.html" %}

    </body>
</html>

