{% load static %}
<link rel='stylesheet' type='text/css' href='{% static '/static/landing-page.css' %}'></link>

<script type="text/javascript">

function showGoogleMaps() {
    var position = [-37.5622, 143.8503]; // Feature - Set to user's hometown
    var latLng = new google.maps.LatLng(position[0], position[1]);

    var mapOptions = {
        zoom: 16, //set zoom level
        streetViewControl: false,
        scaleControl: false,
        draggable: false,
        zoomControl: false,
        scrollwheel: false,
        disableDoubleClickZoom: true,
        disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: latLng
    };

    var map = new google.maps.Map(document.getElementById('googlemaps'), mapOptions);
}

function initMaps() {
   google.maps.event.addDomListener(window, 'load', showGoogleMaps);
}
</script>

<!-- include the gmaps apit -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&callback=initMaps"></script>

<div id="googlemaps"></div>

<div id="landing-page-controls">
    <div class="row vertical-spacer"></div>
    <div class="row">
        <div class="col-lg-3 col-sm-12"></div>
        <div class="control-button col-lg-3 col-sm-12">
            <a onclick="alert('Functionality coming soon!')">
            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-map-marker"></span>
                <p>What's near me?</p>
            </button>
            </a>
        </div>
        <div class="control-button col-lg-3 col-sm-12">
            <a href="datamap">
            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-search"></span>
                <p>Search parks</p>
            </button>
            </a>
        </div>
        <div class="col-lg-2 col-sm-12"></div>
    </div>
</div>
