<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Go Park Yourself</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">Parking Types</a>
            <ul class="dropdown-menu">
                <li>
                    <a onclick="toggleParkingMap()">Standard</a>
                </li>
                <li>
                    <a onclick="toggleParkingMapTaxi()">Taxis</a>
                </li>
                <li>
                    <a onclick="toggleParkingMapDisabled()">Accessible</a>
                </li>
            </ul>
          </li>
          <li><a onclick="toggleCCTVHeatmap()">CCTV Locations</a></li>
          <li><a onclick="toggleInfringementHeatmap()">Parking Infringements</a></li>
          <li><a onclick="toggleLightHeatmap()">Lights</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
