#googlemaps {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* make sure the map is on the layer below */
}

#landing-page-controls .row {
/*need this above the map*/
    z-index: 100;
    position: relative;
    text-align: center;

}
#landing-page-controls .row div {
    padding-top: 50px; 
}


#landing-page-controls .glyphicon {
    font-size: 10em;
    width: 100%;
}


#landing-page-controls .vertical-spacer {
    height: 15%;
}

.jumbotron { 
    padding:0px;
}

